@import '../../variables.css';

.startScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

.startScreen img {
    width: 65vh;
}

.startScreen button {
    --bs-btn-color: var(--Color-Middle);
    --bs-btn-border-color: var(--Color-Middle);
    --bs-btn-hover-bg: var(--Color-Middle);
    --bs-btn-hover-border-color: var(--Color-Middle);
    --bs-btn-focus-shadow-rgb: var(--Color-Middle-rgb);
    --bs-btn-active-bg: var(--Color-Middle);
    --bs-btn-active-border-color: var(--Color-Middle);
    --bs-btn-disabled-color: var(--Color-Middle);
    --bs-btn-disabled-border-color: var(--Color-Middle);
}
